<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
    <a class="navbar-brand" mat-button>GITHUB APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a class="nav-link btn-align" mat-button style="cursor: pointer;" routerLink="/"><mat-icon>home</mat-icon>&nbsp;&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-align" mat-button  routerLink="/users"><mat-icon>group</mat-icon>&nbsp;&nbsp;Registered Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-align" href="https://github.com/Awais-Iftikhar" target="_blank" mat-button ><i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;&nbsp;<span>Github</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

